html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #121314;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 66vw;
  top: calc(50vh - 33vw);
  position: absolute;
}

.grid>* {
  position: relative;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* filter: url('#gooey'); */
}

path {
  fill: none;
  stroke: #ffffff;
  stroke-width: 3;
  stroke-linecap: round;
}

.menu path {
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
}

.menu--1 {
  background-color: #3f77e9;
  .line--1,
  .line--3 {
    --total-length: 126.64183044433594;
  }
  .line--2 {
    --total-length: 70;
  }
}

.menu--2 {
  background-color: #2c96f2;
  .line--1,
  .line--3 {
    --total-length: 182.1348876953125;
  }
  .line--2 {
    --total-length: 105;
  }
}

.menu--3 {
  background-color: #34adf0;
  .line--1,
  .line--3 {
    --total-length: 111.22813415527344;
    --offset: -50.22813415527344;
  }
  .line--2 {
    --total-length: 99;
  }
}

.menu--4 {
  background-color: #56bce1;
  .line--1,
  .line--3 {
    --total-length: 126.38166809082031;
  }
  .line--2 {
    --total-length: 80;
  }
}

.menu--5 {
  background-color: #79ccd4;
  .line--1,
  .line--3 {
    --total-length: 147.96810913085938;
  }
  .line--2 {
    --total-length: 105;
  }
}

.menu--6 {
  background-color: #9ddbc6;
  .line--1,
  .line--3 {
    --total-length: 103.35061645507812;
    --offset: -42.35061645507812;
  }
  .line--2 {
    --total-length: 99;
  }
}
