html,
body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #121314;
}

.grid {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100vw;
  height: 66vw;
  top: calc(50vh - 33vw);
  position: absolute;
}
.grid > * {
  position: relative;
}

svg {
  position: absolute;
  width: 100%;
  height: 100%;
  /* filter: url('#gooey'); */
}

path {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
}

.menu path {
  --length: 24;
  --offset: -38;
  stroke-dasharray: var(--length) var(--total-length);
  stroke-dashoffset: var(--offset);
}

.icon--1 { background-color: #3F77E9; }
.icon--2 { background-color: #2C96F2; }
.icon--3 { background-color: #34ADF0; }
.icon--4 { background-color: #56BCE1; }
.icon--5 { background-color: #79CCD4; }
.icon--6 { background-color: #9DDBC6; }

.icon--1 .line--1 { 
  --total-length: 126.64183044433594;
}
.icon--1 .line--2 { 
  --total-length: 70;
}
.icon--1 .line--3 { 
  --total-length: 126.64183044433594;
}
.icon--2 .line--1 { 
  --total-length: 182.1348876953125;
}
.icon--2 .line--2 { 
  --total-length: 105;
}
.icon--2 .line--3 { 
  --total-length: 182.1348876953125;
}
.icon--3 .line--1 { 
  --total-length: 111.22813415527344;
  --offset: -50.22813415527344;
}
.icon--3 .line--2 { 
  --total-length: 99;
}
.icon--3 .line--3 { 
  --total-length: 111.22813415527344;
  --offset: -50.22813415527344;
}
.icon--4 .line--1 { 
  --total-length: 126.38166809082031;
}
.icon--4 .line--2 { 
  --total-length: 80;
}
.icon--4 .line--3 { 
  --total-length: 126.38166809082031;
}
.icon--5 .line--1 { 
  --total-length: 147.96810913085938;
}
.icon--5 .line--2 { 
  --total-length: 105;
}
.icon--5 .line--3 { 
  --total-length: 147.96810913085938;
}
.icon--6 .line--1 { 
  --total-length: 103.35061645507812;
  --offset: -42.35061645507812;
}
.icon--6 .line--2 { 
  --total-length: 99;
}
.icon--6 .line--3 { 
  --total-length: 103.35061645507812;
  --offset: -42.35061645507812;
}
